<%- include('blocks/header', {bot, user, path}) %>

<div class="jumbotron text-center">
    <h1>Well be back soon!</h1>
    <p>Undergoing maintenance, in the meantime. Join our <a href="https://discord.io/underground_server">discord server</a> for more details.</p><br><h5>~ Lutu Administration Team</h5>
</div>

<% include ./blocks/footer %>
